<% if score.team == team %>
  <% tr_style = tr_team %>
  <% td_style = td_team %>
<% elsif score_counter % 2 == 0 %>
  <% tr_style = tr_even %>
  <% td_style = td_even %>
<% else %>
  <% tr_style = tr_odd %>
  <% td_style = td_odd %>
<% end %>
<tr style="<%= tr_default + tr_style %>">
  <td style="<%= td_default + td_style + td_ordinal %>"><%= (score_counter+1).en.ordinal %></td>
  <td style="<%= td_default + td_style %>"><%= score.team.name_and_owner %></td>
  <%= change_col_detail_html(week, scores, score.team, td_style) %>
  <td style="<%= td_default + td_style + td_number %>"><%=h score.total %></td>
  <td style="<%= td_default + td_style + td_number %>"><%=h score.points_behind_pre %></td>
  <td style="<%= td_default + td_style + td_number %>"><%=h score.points_behind_1st %></td>
  <td style="<%= td_default + td_style + td_number %>"><%=h score.points_behind_2nd %></td>
  <td style="<%= td_default + td_style + td_number %>"><%=h score.points_behind_3rd %></td>
  <td style="<%= td_default + td_style + td_number %>"><%=h score.points_behind_4th %></td>
</tr>
